doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

     //- if login but not paid
        block pitch
      if admin
        admin panel link
    block content